*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to right, antiquewhite, white);
  padding: 20px;
  display: flex;
}

header h1 {
  display: inline-block;
}

nav {
  float: right;
}

.nav-links i ul {
  display: flex;
  justify-content: space-around;
}


main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.overlay h2 {
  margin-top: 60px;
}


form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form label {
  margin-bottom: 5px;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

form button {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
}

#message-sent {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}


/*------ HEADER -------*/

.header {
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: linea;
}

nav{
  display: flex;
  padding: 1% 5%;
  align-items: center;
 
}

nav img{
  width: 200px;
}

.nav-links {
  flex: 1;
  text-align: right;
  justify-content: center;
  margin-right: 0;
}

.nav-links ul {
  margin-right: 10px;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;

}

.nav-links ul li a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;

}

/*--- Pop up Log in ---------*/

.popup {
position: absolute;
top: -150%;
left: 50%;
opacity: 0;
transform: translate(-50%,-50%) scale(1.25);
width: 380px;
padding: 20px 30px;
background: #fff;
box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
border-radius: 10px;
z-index: 20;
transition: top 0ms ease-in-out 200ms,
            opacity 0ms ease-in-out 200ms,
            transform 0ms ease-in-out 200ms;
}

.popup.active {
top: 50%;
opacity: 1;
transform: translate(-50%,-50%) scale(1);
}

.popup .close-btn {
position: absolute;
top: 10px;
right: 10px;
width: 15px;
height: 15px;
background: #888;
color: #eee;
text-align: center;
line-height: 15px;
border-radius: 15px;
cursor: pointer;
}

.popup .form h2 {
text-align: center;
color: #222;
margin: 10px 0px 20px;
font-size: 25px;
}

.popup .form .form-element {
margin: 15px 0px;
}

.popup .form .form-element label {
font-size: 14px;
color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
margin-top: 5px;
display: block;
width: 100%;
padding: 10px;
outline: none;
border: 1px solid #aaa;
border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"] {
margin-right: 5px;
}

.popup .form .form-element button {
width: 100%;
height: 40px;
border: none;
outline: none;
font-size: 15px;
background: #222;
color: #f5f5f5;
border-radius: 10px;
cursor: pointer;
}

.popup .form .form-element a {
display: block;
text-align: right;
font-size: 15px;
color: black;
text-decoration: none;
font-weight: 600;
}

.center {
display: inline-block;
margin-left: 10px;
}

.center button {
padding: 10px 20px;
font-size: 15px;
font-weight: 600;
color: antiquewhite;
background: black;
border: none;
outline: none;
cursor: pointer;
border-radius: 5px;
}

.center button:hover {
color: black;
background-color: antiquewhite;
transition: 0.5s;
}

/*----Background Image-------*/

.bgImage{
position: relative;
width: 100%;
height: 600px;
background-image: url('Images/1.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
animation: bgChange 20s linear infinite;
}

@keyframes bgChange{
0%{
    background-image: url('Images/1.jpg');
}
20%{
    background-image: url('Images/1.jpg');
}
25%{
    background-image: url('Images/2.jpg');
}
45%{
    background-image: url('Images/2.jpg');
}
50%{
    background-image: url('Images/3.jpg');
}
70%{
    background-image: url('Images/3.jpg');
}
75%{
    background-image: url('Images/4.jpg');
}
95%{
    background-image: url('Images/4.jpg');
}
}

.overlay {
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background-color: rgba(0, 0, 0, 0.9);
display: flex;
flex-direction: column;
align-items: center;
color: white;

}


/*---------footer--------*/

.footer {
width: 100%;
text-align: center;
padding: 30px 0;
background-color: black;
color: white;
position: relative;
bottom: 0;
}

.footer h4{
margin-bottom: 5px;
margin-top: 20px;
font-weight: 600;
color: white;
}

.footer p{
color: white;
margin-bottom: 25px
}

.icons .fa{
color: antiquewhite;
margin: 0 13px;
cursor: pointer;
padding: 18px 0;
}


.bgImage {
  height: 100vh; /* Fills the entire viewport height */
}
