{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Kapehans - Ordering System </title>
    <link rel="stylesheet" href="{% static 'css/store.css' %}">
</head>
<body>
    <header class="header">
        <nav>
            <a href="{% url 'landing' %}">
                <img src="{% static 'images/Kapehans-logo.png' %}" alt="Kapehans Logo">
            </a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'landing' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'reviews' %}">Reviews</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li class="center">
                        <button id="show-login" onclick="location.href='{% url 'logoutCustomer' %}'">Logout</button>
                    </li>    
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </header>

    <main class="menu-container">
        <header class="menu-header">
            <form action='{% url 'orders:viewCart' %}'>
                <h1>Our Menu <button class="view-cart-btn" id="viewCartBtn">View Cart</button></h1>
            </form>
        </header>

        <section class="menu-section">
            <h2>Coffee Based Drinks</h2>
            <div class="cards-container">
                <div class="card">
                    <div class="card-content">
                        <form method="post" class="add-to-cart-form" action='{% url 'orders:addToCart' %}'>
                            {% csrf_token %}
                            <input type="hidden" name="item_name" value="Spanish Latte">
                            <h2 class="item-name"> Spanish Latte </h2>
                            
                            <img src="{% static 'images/menu/vanilla-latte.jpg' %}" class="item-image" alt="Spanish Latte - Tall">
                            
                            <p class="item-price">Price - ₱55.00</p>
                            <input type="hidden" name="item_price" value="55.00">
                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-content">
                        <h2 class="item-name"> Vanilla Latte </h2>
                        <img src="{% static 'images/menu/spanish-latte.jpg' %}" class="item-image" alt="Spanish Latte - Tall">
                        <p class="item-price">Price - ₱55.00</p>
                        <form method="post" class="add-to-cart-form">
                            <input type="hidden" name="item_name" value="Vanilla Latte">
                            <input type="hidden" name="item_price" value="55.00">
                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <form method="POST" class="add-to-cart-form" action="orders:addToCart">
                            {% csrf_token %}
                            <h2 class="item-name"> Mocha Latte </h2>
                            <input type="hidden" name="item_name" value="Mocha Latte">

                            <img src="{% static 'images/menu/mocha-latte.jpg' %}" class="item-image" alt="Spanish Latte - Tall">
          
                            <p class="item-price">Price - ₱59.00</p>
                            <input type="hidden" name="item_price" value="59.00">

                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                    </div>
                </div>



                
            </div>
            <!-- More cards containers here... -->
        </section>
    </main>

    <div id="cartModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Your Cart</h2>
            <table id="cartTable">
                <tbody>
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> Price </th>
                            <th> Quantity </th>
                            <th> Total </th>
                        </tr>
                    </thead>
                </tbody>
            </table>
            <p id="totalPrice">Total: ₱0.00</p>
            <button id="checkoutBtn"> Checkout </button>
        </div>
    </div>

    <script src="{% static 'js/store.js' %}"></script>
</body>
</html>
