{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Kapehans - Ordering System </title>
    <link rel="stylesheet" href="{% static 'css/store.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <nav>
            <a href="{% url 'landing' %}">
                <img src="{% static 'images/Kapehans-logo.png' %}" alt="Kapehans Logo">
            </a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'landing' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'reviews' %}">Reviews</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'orders:viewCart' %}">Cart</a></li>
                    <li class="center">
                        <button id="show-login" onclick="location.href='{% url 'logoutCustomer' %}'">Logout</button>
                    </li>    
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </header>

    <main class="menu-container">
        <header class="menu-header">
            <form action='{% url 'orders:viewCart' %}'>
                <h1>Our Menu </h1>

                {% if messages %}
                    <div id="messages">
                        {% for message in messages %}
                            <div class="message {{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </header>

        <section class="menu-section">
            <h2>Coffee Based Drinks</h2>
            

            <div class="cards-container">
                <div class="card">
                    <div class="card-content">
                        <form method="post" class="add-to-cart-form" action='{% url 'orders:addToCart' %}'>
                            {% csrf_token %}
                            <input type="hidden" name="item_name" value="Spanish Latte - Tall">
                            <h2 class="item-name"> Spanish Latte - Tall</h2>
                            
                            <img src="{% static 'images/menu/spanish-latte.jpg' %}" class="item-image" alt="Spanish Latte - Tall">
                            
                            <p class="item-price">Price - ₱55.00</p>
                            <input type="hidden" name="item_price" value="55.00">
                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <form method="post" class="add-to-cart-form" action='{% url 'orders:addToCart' %}'>
                            {% csrf_token %}
                            <input type="hidden" name="item_name" value="Spanish Latte - Venti">
                            <h2 class="item-name"> Spanish Latte - Venti </h2>
                            
                            <img src="{% static 'images/menu/spanish-latte.jpg' %}" class="item-image" alt="Spanish Latte - Venti">
                            
                            <p class="item-price">Price - ₱75.00</p>
                            <input type="hidden" name="item_price" value="75.00">
                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <form method="post" class="add-to-cart-form" action='{% url 'orders:addToCart' %}'>
                            {% csrf_token %}
                            <input type="hidden" name="item_name" value="Spanish Latte - Grande">
                            <h2 class="item-name"> Spanish Latte - Grande </h2>
                            
                            <img src="{% static 'images/menu/spanish-latte.jpg' %}" class="item-image" alt="Spanish Latte - Grande">
                            
                            <p class="item-price">Price - ₱85.00</p>
                            <input type="hidden" name="item_price" value="85.00">
                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-content">
                        <form method="post" class="add-to-cart-form" action='{% url 'orders:addToCart' %}'>
                            {% csrf_token %}
                            <input type="hidden" name="item_name" value="Vanilla Latte - Tall">
                            <h2 class="item-name"> Vanilla Latte - Tall </h2>
                        
                            <img src="{% static 'images/menu/vanilla-latte.jpg' %}" class="item-image" alt="Vanilla Latte - Tall">
                        
                            <p class="item-price">Price - ₱55.00</p>
                            <input type="hidden" name="item_price" value="55.00">

                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <form method="post" class="add-to-cart-form" action='{% url 'orders:addToCart' %}'>
                            {% csrf_token %}
                            <input type="hidden" name="item_name" value="Vanilla Latte - Venti">
                            <h2 class="item-name"> Vanilla Latte - Venti</h2>
                        
                            <img src="{% static 'images/menu/vanilla-latte.jpg' %}" class="item-image" alt="Vanilla Latte - Venti">
                        
                            <p class="item-price">Price - ₱75.00</p>
                            <input type="hidden" name="item_price" value="75.00">

                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <form method="post" class="add-to-cart-form" action='{% url 'orders:addToCart' %}'>
                            {% csrf_token %}
                            <input type="hidden" name="item_name" value="Vanilla Latte - Grande">
                            <h2 class="item-name"> Vanilla Latte - Grande </h2>
                        
                            <img src="{% static 'images/menu/vanilla-latte.jpg' %}" class="item-image" alt="Vanilla Latte - Grande">
                        
                            <p class="item-price">Price - ₱85.00</p>
                            <input type="hidden" name="item_price" value="85.00">

                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                    </div>
                </div>
                
                <!--div class="card">
                    <div class="card-content">
                        <form method="POST" class="add-to-cart-form" action="{% url 'orders:addToCart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="item_name" value="Mocha Latte">
                            <h2 class="item-name"> Mocha Latte </h2>

                            <img src="{% static 'images/menu/mocha-latte.jpg' %}" class="item-image" alt="Mocha Latte - Tall">
          
                            <p class="item-price">Price - ₱59.00</p>
                            <input type="hidden" name="item_price" value="59.00">

                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                    </div>
                </div-->   
            </div>
            <!-- More cards containers here... -->
        </section>

        <section class="menu-section">
            <h2>Non-coffee based Drinks</h2>
            

            <div class="cards-container">
                <div class="card">
                    <div class="card-content">
                        <form method="post" class="add-to-cart-form" action='{% url 'orders:addToCart' %}'>
                            {% csrf_token %}
                            <input type="hidden" name="item_name" value="Spanish Latte - Tall">
                            <h2 class="item-name"> Spanish Latte - Tall</h2>
                            
                            <img src="{% static 'images/menu/spanish-latte.jpg' %}" class="item-image" alt="Spanish Latte - Tall">
                            
                            <p class="item-price">Price - ₱55.00</p>
                            <input type="hidden" name="item_price" value="55.00">
                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                    </div>
                </div>
    </main>
    
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const messages = document.getElementById('messages');
        if (messages) {
            setTimeout(function() {
                messages.style.display = 'none';
            }, 1000);
        }
    });
</script>
</body>
</html>
